$background-dark-main : #222222;
$lines-gray : #bbbbbb;
$nav-singUp-bg:#fff;
$singUp-container-bg:white;
$singUp-container-bg-hidden:rgba(255, 255, 255, 0);
$singUp-bg:#FAFF00;
$singUp-text:black;

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Rubik&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}


body{
    background-color: $background-dark-main;
    
}
.App{
  // background-color: red;
  main{
    height: calc(100% - 71px);
  }
}

@media only screen and (max-width:850px) {
  
  .App{
  // background-color: red;
  main{
    height: calc(100% - 46px);
  }
}
}
body::-webkit-scrollbar {
  background: none;
  width: 15px;



}

body::-webkit-scrollbar-track {
  background: #181818;
  border-radius: 0 6px 6px 0;
  
}

body::-webkit-scrollbar-thumb {
  background: #FAFF00;

  border: #181818 solid 3px;
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #cace00;

  border: #181818 solid 3px;
  border-radius: 1rem;
}